<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= image_tag('/logo.png', class: "navbar-brand topnav") %>


            <a class="navbar-brand topnav" href="#">DynahMom Web</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            	<li>
            		<%= auth_fragment %>
            	</li>
                <li>
                    <a href="https://github.com/rpossan/csv-challenge" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>DynahMom Bot</h1>
                    <h3>Put a link and see the future!</h3>


                    <ul class="">
                        <li>
                            <div class="form-group form-group-lg">
                                <div class="col-sm-14">
                            <%= form_tag(search_path(:q), method: :get, class: "form-group-lg") do %>
                                <%= text_field_tag(:q, nil, class: "form-control input-lg", placeholder: "Paste an Youtube URL or ID here...") %>
                            </div>
                                <%= submit_tag("Preview", class: "form-control") %>
                            <% end %>
                        </div>
                        </li>
                    </ul>

                    
                    <% if @youtube %>
	                    <hr class="intro-divider">

      <div class="jumbotron row marketing">
        <%= image_tag(@youtube.thumbnail_url) %>
        <div class="col-lg-3">

          <h4>Titulo</h4>
          <p><%= @youtube.title %></p>

          <h4>Description</h4>
          <p><%= @youtube.description %></p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-3">
          <h4>Published at</h4>
          <p><%= @youtube.published_at %></p>

          <h4>100</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
        <div class="col-lg-3">
          <h4>Likes</h4>
          <p>100</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
        <div class="col-lg-3">
          <h4>Dislikes</h4>
          <p>100</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

      </div>
                    <% end %>



                </div>
            </div>

        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Developed by Ronaldo Possan - 2016</p>
            </div>
        </div>
    </div>
</footer>
